<include file="Public:header" />

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        
      <include file="Public:navi" />

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to the Amaze UI wiki!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">视频管理</strong> / <small>Gallery</small></div>
    </div>

    <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
      <foreach name="items" item="item">
      <li>
        <a href="__SITE__/vedio/{$item.id}" target="_blank">
          <img class="am-img-thumbnail am-img-bdrs" src="{$item.thumb}" alt=""/>
          <div class="gallery-title">{$item.title}</div>
          <div class="gallery-desc"><?php echo toDate($item['add_time']); ?></div>
        </a>
      </li>
      </foreach>
    </ul>

    <div class="am-margin am-cf">
      <hr/>
      <div class="am-cf">
              <div class="page" style="float: right;">
              {$page}
              </div>
          </div>
    </div>

  </div>
  <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<include file="Public:footer" />