<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> -->
    <notempty name="title">
    <title>{$title}|__TITLE__</title>
    <else />
    <title>__TITLE__</title>
    </notempty>
    <meta name="keywords" content="吉他谱,吉他,吉他视频,GTP,Guitar Pro,吉他谱下载" />
    <notempty name="description">
    <meta name="description" content="{$description},收藏自阿谱小站." />
    <else />
    <meta name="description" content="Guitar-pro,收集分享Guitar-pro吉他谱,吉他视频,为吉他爱好者打造网上资源互动社区." />
    </notempty>
    <link rel="alternate" type="application/rss+xml" title="阿谱小站" href="__SITE__/feed" />
    <link rel="shortcut icon" href="__SITE__/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__SITE__/css/concision.css" />
    <link rel="stylesheet" type="text/css" href="__SITE__/css/prettify.css" />
    <script type="text/javascript" src="__SITE__/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="__SITE__/js/guitar.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-wrap wp cf">
            <h3 class="logo"><a href="__SITE__" title="返回首页">__TITLE__</a></h3>
            <ul class="navg">
                <li class="title <if condition="($channel eq 'Home')">selected</if>"><a class="show" href="__SITE__">首页</a></li>
                <li class="title <if condition="($channel eq 'Gtp')">selected</if>"><a class="show" href="__SITE__/gtp/">吉他谱</a></li>
                <li class="title <if condition="($channel eq 'Vedio')">selected</if>"><a class="show" href="__SITE__/vedio/">吉他视频</a></li>
                <li class="title <?php if($channel == "Group" || $channel == "Topic") { ?>selected<?php } ?>"><a class="show" href="__SITE__/group/">小组</a></li>
                <?php if($_logined) { ?>
                    <li class="title <if condition="($channel eq 'user')">selected</if>"><a class="show" href="__SITE__/user/{$_uid|getUserDomainById}">我的空间</a></li>
                <?php } ?>
            </ul>
            <p class="user">
                <?php if(!$_logined) { ?>
                [<a href="__SITE__/user/login">登录</a><a href="__SITE__/user/register">注册</a>]
                <?php } else { ?>
                [ {$_nick|urldecode} &nbsp; <a href="__SITE__/message/" class="mlr0">邮件<?php if($_msgNum > 0) { ?><span id="msg">({$_msgNum})</span><?php } ?></a><a href="__SITE__/user/settings">设置</a> <a href="__SITE__/user/logout">退出</a>]
                <?php } ?>
            </p>
        </div>
    </div>