<div class="toper">
    <dl>
        <dt>搜索<sub>Search</sub></dt>
        <dd>    
        <div class="search-form">
            <form method="post" action="__SITE__/index/search/">
                <input type="text" class="text" style="width:125px" name="name">
                <select name="type">
                    <option value="gtp">谱子</option>
                    <option value="vedio">视频</option>
                </select>
                <input class="submit" type="submit" value="搜索">
            </form>
        </div>
        </dd>
    </dl>
    <dl class="attent">
        <dt>关注<sub>Attention</sub></dt>
        <dd class="cf">
        <a class="tencen" href="http://t.qq.com/topthink" target="_blank">腾讯微博</a>
        <a class="sina" href="http://weibo.com/thinkphp" target="_blank">新浪微博</a>
        </dd>
    </dl>
</div>