<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title></title>
<style type="text/css">
body{ padding:0; margin:0; border:0;}
.submit-succeed-wrapper{ width:60%; margin:25% auto 0;}
.submit-succeed-img{ width:45%; margin:0 auto;}
.submit-succeed-img img{ width:100%; height:auto;}
.submit-succeed-txt{ color:#4e4e4e; font-size:16px; margin:30px auto; text-align:center; line-height:2em;}
</style>
</head>
<body>
<div class="submit-succeed-wrapper">
        <div class="submit-succeed-img"><img src="__SITE__/img/m/submit.png"></div>
        <div class="submit-succeed-txt">请拨打免费电话<a href="tel:40005-30003">40005-30003</a>电话与我们联系，我们会为您提供密码找回服务。</div>
</div>

</body>
</html>