<tagLib name="html" />
<include file="Public:header" />

<div class="contaier wp cf">
<div class="ident">邮件</div>
    <div class="login" style="width: 580px;margin-top: 0px;">
        
        <?php if($type=="mine"){ ?>
            <div class="slogan"><p><a href="__SITE__/message/">收件箱</a> 已发送</p></div>
        <?php } else { ?>
            <div class="slogan"><p>收件箱 <a href="__SITE__/message/mine">已发送</a></p></div>
        <?php } ?>
        
        <br/>
        
        <div class="tbl">
            <?php if(!empty($message_list)) { ?>
            <table>
                <thead>
                    <tr>
                        <td style="width: 380px;">邮件</td>
                        <td style="width: 128px; text-align: right;">时间</td>
                        <td style="text-align: right;">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="message_list" item="item">
                    <tr <?php if($item['state'] == 100 && $_uid != $item['user_id']) { ?>style="background: #c7c7c7;"<?php } ?>>
                         <td style="width: 380px;">
                             <?php if($type=="mine"){ ?>
                                        收件人：{$item.to_id|getUserNick}
                            <?php } else { ?>
                                       发件人：{$item.nick}
                            <?php } ?>
                            <br />
                            <input type="checkbox" name="id[]" />
                            <a href="__SITE__/message/{$item.id}" >{$item.title|msubstr=###, 0, 20,'utf-8', false}</a>
                            <?php if($item['reply_num'] > 0) { ?>({$item.reply_num})<?php } ?>
                         </td>
                         <td class="c6">
                             {$item.last_reply_time|toTime}
                         </td>
                         <td style="text-align: right;">
                             <a onclick="return confirm('删除邮件 ?');" href="__SITE__/message/operate/{$item.id}?type=delete">[x]</a>
                         </td>
                    </tr>
                    </foreach>
                </tbody>
            </table>
            <?php } else { ?>
                暂无邮件
            <?php } ?>
        </div>
        
        <br/>
        <br/>
        
        
        <br class="clear" />
        <br/>
        <br/>
        
        <br class="clear" />
        <br />
       
    </div>
    
    
    <div class="login-other">
        
    </div>
</div>

<include file="Public:footer" />