<tagLib name="html" />
<include file="Public:header" />

<div class="contaier wp cf">
<div class="ident">注册</div>
    <div class="register" style="width: 580px;">
        <div class="head">
            <strong>用户注册</strong><span>已有帐号？点击<a href="__SITE__/user/login">登录</a></span>
            <span style="color: red" id="err">{$err}</span>
        </div>
        <div class="body form">
            <form action="__SITE__/user/register" id="regFrm" method="post" class="login">
                <table style="width: 580px;">
                    <tr>
                        <th>用户名</th>
                        <td>
                            <input class="text" type="text" id="txtNick" name="nick" value="{$nick}" placeholder="用户名/昵称" />
                        </td>
                    </tr>
                    <tr>
                        <th>密&#12288;码</th>
                        <td>
                            <input class="text" type="password" id="txtPwd" name="pwd" placeholder="会员密码" />
                        </td>
                    </tr>
                    <tr>
                        <th>确认密码</th>
                        <td>
                            <input class="text" type="password" id="txtRePwd" name="re_pwd" placeholder="再次输入密码" />
                        </td>
                    </tr>
                    <tr>
                        <th>邮&#12288;箱</th>
                        <td>
                            <input class="text" type="text" id="txtEmail" name="email" value="{$email}" placeholder="会员邮箱" />
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>
                            <input class="submit" type="submit" value="完成" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="login-other">
        <div class="head">
            <!--
            <strong>使用其他帐号直接登录</strong>
            -->
        </div>
        <div class="body">
            <!--
            <ul class="other-account">
                <li><a class="qq" href="/oauth/index/type/qq.html">腾讯QQ登录</a></li><li><a class="tencent" href="/oauth/index/type/tencent.html">腾讯微博登录</a></li><li><a class="t163" href="/oauth/index/type/t163.html">网易微博登录</a></li><li><a class="sina" href="/oauth/index/type/sina.html">新浪微博登录</a></li>            </ul>
            -->
        </div>
    </div>
</div>

<include file="Public:footer" />