<tagLib name="html" />
<include file="Public:header" />

<div class="contaier wp cf">
<div class="ident">小组</div>
    <div class="login" style="width: 580px;">
        <div class="head">
            <strong>编辑小组</strong>
            <?php if (!empty($err)): ?><span style="color: red">{$err}</span><?php endif; ?>
        </div>
        <div class="body form ">
            <form action="__SITE__/group/edit" method="post" class="login">
                <table style="width: 580px;>
                    <tr>
                        <th>名称</th>
                        <td>
                            <input class="text" type="text" name="title" value="{$item.title}" />
                        </td>
                    </tr>
                    <tr>
                        <th>头像</th>
                        <td>
                            <img src="{$item.face|getGroupFace}" class="face" /> <a href="__SITE__/group/face/{$item.id}" style="line-height: 50px;">设置</a>
                        </td>
                    </tr>
                    <tr>
                        <th>描述</th>
                        <td>
                            <textarea name="content" class="textarea" rows="5" cols="50">{$item.content|br2nl}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>标签</th>
                        <td>
                            <input class="text" type="text" name="tags" value="{$item.tags}" />
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td>
                            <input type="hidden" name="group_id" value="{$item.id}" />
                            <input class="submit" type="submit" value="编辑" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="login-other">
        <div class="head">
            <strong>使用其他帐号直接登录</strong>
        </div>
        <div class="body">
            <include file="Public:group_edit" />
        </div>
    </div>
</div>

<include file="Public:footer" />